openapi: '3.0.2'

# API metadata
info:
  title: BambooHR API
  version: 1.0.0
  description: >-
    BambooHR provides companies a human capital management software as a
    service.
  contact:
    name: BambooHR
    email: support@bamboohr.com
    url: https://www.bamboohr.com/contact.php
    x-twitter: bamboohr
  termsOfService: https://www.bamboohr.com/terms-of-service/
  license:
    name: BambooHR API Terms of Use
    url: https://partners.bamboohr.com/bamboohr-api-terms-of-use/

  # APIs.guru Extensions
  # https://github.com/APIs-guru/openapi-directory/wiki/specification-extensions
  x-apiClientRegistration: https://www.bamboohr.com/signup/
  x-apisguru-categories:
  - enterprise
  x-description-language: en
  # More logos at https://www.bamboohr.com/about/press.php#mediaAssets
  x-logo:
    backgroundColor: '#FFFFFF'
    url: https://www.bamboohr.com/img/new-press-images/bamboohr-green-png.png
  x-unofficialSpec: true

externalDocs:
  description: BambooHR API Documentation
  url: https://documentation.bamboohr.com/docs

servers:
- url: https://api.bamboohr.com/api/gateway.php/{subdomain}
  variables:
    subdomain:
      default: mycompany
      description: >-
        The subdomain used to access your account (If you access BambooHR at
        https://mycompany.bamboohr.com, then the subdomain is "mycompany")

security:
- apiKey: []

tags:
- name: Benefits
  description: >-
    There are two primary entities when dealing with benefits: Benefit Plans
    and Benefit Groups.


    Benefit Plans define the Type (medical, dental, etc.), Coverage options
    (employee, employee + spouse, etc.), and Total Monthly Costs (i.e. the
    premium). Each plan will also show when it went into effect and when it is
    set to expire. Plans must be configured before you can create Benefit
    Groups.


    Benefit Groups allow you to create a customizable benefit package for
    specific employee groupings. For example, you may want to have a Benefit
    Group for all of your full time employees for which you include a Medical,
    Dental, Vision, and 401K plan. You could then have a separate Benefit Group
    for your part time employees which allows for Medical only. Plan
    eligibility rules and group-specific employee pays and company pays amounts
    are set in benefit groups (with the exception of plans where pays
    information is set at the employee level).

    In addition to getting benefit information through the API, you can also
    get employee deductions for a given plan and define the dependents
    associated with your employees. You cannot currently enroll employees or
    change benefit status through the API.
  externalDocs:
    url: https://www.bamboohr.com/api/documentation/benefits.php
- name: Changes
  description: >-
    The Last Changed API allows you to discover which employees have been
    recently added, changed, or deleted. Any change to any field inside an
    employee record will count as an update. Insert events are only recorded
    when an employee record is first created. Delete events are only recorded
    when an employee record is deleted.


    **Note:** Last change timestamps are a newer feature in BambooHR. We
    started recording these dates on June 5th, 2011. We do not have last
    changed data for any changes that occurred before this date.
  externalDocs:
    url: https://www.bamboohr.com/api/documentation/changes.php
- name: Employees
  description: >-
    Operations for adding and retrieving employee information, and associated
    files.
  externalDocs:
    url: https://www.bamboohr.com/api/documentation/employees.php
- name: Login
  description: >-
    Access control to the API is always controlled by an API key that
    identifies a particular user. Usually, this API key is generated on the
    website and then copied into your third party application. It is now
    possible for registered applications to generate new API keys for each user
    on the fly by making a special API request.

    **Note:** Each application using this approach is required to provide an
    application key to identify what application is requesting the API key. For
    more information on obtaining application keys please contact
    support@bamboohr.com.

    **Note:** If you already have an API key, you do not need to use the Login
    API.
  externalDocs:
    url: https://www.bamboohr.com/api/documentation/login.php
- name: Metadata
  description: >-
    The Metadata API allows you to retrieve "data about data" for a given
    BambooHR account. You can determine what fields a customer is using. You
    can determine what options are available in a list. You can determine what
    users are able to access the system.

    Metadata is important because BambooHR is highly configurable. A given
    customer's account may have drastically different settings from another
    customer. Using this API, you can determine what values the account
    supports.

    Read only access to metadata does not require any special permissions. When
    write access to metadata is supported then the user will need the
    appropriate permissions to create new users, for example.
  externalDocs:
    url: https://www.bamboohr.com/api/documentation/metadata.php
- name: Payroll
  description: >-
    There are four primary entities used in building the BambooHR paystub
    experience:

    - Raw paystub data
    - Pay period dates (past, current, and future)
    - Direct deposit settings
    - Tax withholding settings

    All of the information displayed as part of the paystub experience is
    read-only, although employees may navigate through paystub history, view
    specific paystub details, and then download or print the paystub.

    Raw paystub data (income, withholdings, deductions, etc.) and pay period
    data (past, present, and future) are required to generate the primary
    paystub experience in BambooHR. Direct deposit and tax withholding data
    completes the experience for the employee, but is not critical. If no
    direct deposit or tax withholding data are provided, those portions of the
    experience will not be displayed to the employee user.
  externalDocs:
    url: https://www.bamboohr.com/api/documentation/payroll.php
- name: Photos
  description: >-
    The Photos API allows you to retrieve employee photos. There is a standard
    API-based mechanism for retrieving the photo binary data.
  externalDocs:
    url: https://www.bamboohr.com/api/documentation/photos.php
- name: Tables
  description: >-
    Some data in the BambooHR system is stored as a two dimensional grid for
    each employee. The tables API allows you to grab tabular data for the
    various tables in BambooHR. For standard tables, a series of fields will be
    outlined below. API support for custom tables will be added in a future
    release.
  externalDocs:
    url: https://www.bamboohr.com/api/documentation/tables.php
- name: TimeOff
  description: >-
    There are two primary entities when dealing with time off. The requests and
    the history.

    Requests represent a request from an employee to take time off. A request
    needs to be approved before it will be recorded into the history. A user
    with sufficient permissions can create a request and mark it approved at
    the same time.

    The history is log of all events that effect an employee's balance. The
    current balance of time off is the sum of all events in the history. Time
    off used decreases the total, while time off accruals increase it.
  externalDocs:
    url: https://www.bamboohr.com/api/documentation/time_off.php
- name: TimeTracking
  description: >-
    The time tracking API is used to send approved hours worked to BambooHR,
    similar to how you would send hours to a payroll company. These hours are
    stored in BambooHR and can be used to accrue paid time off using BambooHR’s
    accrual feature, and/or sent to a BambooHR payroll partner during the
    payroll run. This makes it possible for the customer to use BambooHR as the
    source of all payroll related data.

    Time records can be added to BambooHR or can be retrieved from BambooHR.
    When adding time records to BambooHR, certain fields are required with each
    entry such as a date, associated pay rate, and a rate type (see
    documentation below). Identifying information for the employee is also
    required so the hours may be associated with the proper employee in
    BambooHR. Lists of employees and their accompanying identifying information
    can be retrieved through our api (see Single Dimensional Data).

    Please note that only approved hours should be sent to BambooHR since there
    will be no distinction of approved or not-approved in BambooHR. If
    non-approved hours are sent to BambooHR, accruals may occur on those hours
    and they also may be passed to payroll. Edits to approved hours (additions
    or subtractions) should be sent as new records with their associated date
    (the date of the hours worked).
  externalDocs:
    url: https://www.bamboohr.com/api/documentation/time_tracking.php

components:
  securitySchemes:
    apiKey:
      description: >-
        Requests to the BambooHR API are authenticated by sending an "API Key"
        for the user to be authenticated as the HTTP Basic username.  The
        password is ignored, but is commonly shown as "x" in the documentation.


        See https://documentation.bamboohr.com/docs#section-authentication
      type: http
      scheme: basic

  parameters:
    benefitCoverageId:
      name: id
      in: path
      description: Benefit Coverage ID
      required: true
      schema:
        type: integer
        minimum: 1
    benefitGroupEmployeeId:
      name: id
      in: path
      description: Benefit Group Employee ID
      required: true
      schema:
        type: integer
        minimum: 1
    benefitGroupId:
      name: id
      in: path
      description: Benefit Group ID
      required: true
      schema:
        type: integer
        minimum: 1
    benefitGroupPlanCostId:
      name: id
      in: path
      description: Benefit Group Plan Cost ID
      required: true
      schema:
        type: integer
        minimum: 1
    benefitGroupPlanId:
      name: id
      in: path
      description: Benefit Group Plan ID
      required: true
      schema:
        type: integer
        minimum: 1
    benefitPlanCoverageId:
      name: id
      in: path
      description: Benefit Plan Coverage ID
      required: true
      schema:
        type: integer
        minimum: 1
    benefitPlanId:
      name: id
      in: path
      description: Benefit Plan ID
      required: true
      schema:
        type: integer
        minimum: 1
    changeType:
      name: type
      in: query
      description: Limit changes to a given type
      schema:
        $ref: '#/components/schemas/ChangeType'
    companyFileId:
      name: fileId
      in: path
      description: ID of a company file
      required: true
      schema:
        type: integer
        minimum: 1
    dependentId:
      name: id
      in: path
      description: Dependent ID
      required: true
      schema:
        type: integer
        minimum: 1
    employeeFields:
      name: fields
      in: query
      description: >-
        Employee fields to return in the response.

        Note: The id field is always returned.
      # Note: the parameter is technically not required (getEmployee would
      # return just the id or 404), but it would make the generated API easy to
      # misuse.  Since the same response results from an empty array, make this
      # property required to reduce misuse.
      required: true
      explode: false
      schema:
        type: array
        items:
          type: string
    employeeFileId:
      name: fileId
      in: path
      description: ID of an employee file
      required: true
      schema:
        type: integer
        minimum: 1
    employeeId:
      name: id
      in: path
      description: Employee ID
      required: true
      schema:
        type: integer
        minimum: 1
    employeeIdFilter:
      name: employeeid
      in: query
      description: Limit response to a given Employee ID
      schema:
        type: integer
        minimum: 1
    endDate:
      name: end
      in: query
      description: End date of (inclusive) date range to include
      required: true
      schema:
        type: string
        format: date
    fieldId:
      name: id
      in: path
      description: Field ID to update
      required: true
      schema:
        type: integer
        minimum: 1
    filterDuplicates:
      name: fd
      in: query
      description: Apply standard duplicate field filtering?  Default yes
      schema:
        $ref: '#/components/schemas/YesNo'
    hashedEmail:
      name: h
      in: query
      description: >-
        The hash of the employee's work email. If they don't have a work email
        then the hash of the home email will work. If they do have a work email
        then the home email will not work.


        The email address must be representable in ASCII.


        The hash is computed as the following md5(strtolower(trim($email))),
        where the trim() function eliminates ASCII whitespace, the strtolower()
        function converts ASCII text to lowercase and the md5 function produces
        a hex string representing the MD5 hash of the data. In PHP you can use
        these exact functions, in other languages there will be equivalent
        functions you can use.
      required: true
      schema:
        type: string
        pattern: '^[a-f0-9]{32}$'
    photoSize:
      name: size
      in: path
      description: Photo size
      required: true
      schema:
        $ref: '#/components/schemas/PhotoSize'
    precision:
      name: precision
      in: query
      description: Number of digits after the decimal point to include.
      schema:
        type: integer
        minimum: 0
    reportFormat:
      name: format
      in: query
      description: File format of the report.
      required: true
      schema:
        $ref: '#/components/schemas/ReportFormat'
    reportId:
      name: id
      in: path
      description: Report ID
      required: true
      schema:
        type: integer
        minimum: 1
    rowId:
      name: rowId
      in: path
      description: Row ID
      required: true
      schema:
        type: integer
        minimum: 1
    since:
      name: since
      in: query
      description: Get changes since a given date
      required: true
      schema:
        type: string
        format: date-time
    startDate:
      name: start
      in: query
      description: Start date of (inclusive) date range to include
      required: true
      schema:
        type: string
        format: date
    timeOffRequestAction:
      name: action
      in: query
      description: Limit to requests that the user has a particular level of access to.
      schema:
        $ref: '#/components/schemas/TimeOffRequestAction'
    timeOffRequestEmployeeId:
      name: employeeId
      in: query
      description: Limit response to a given employee ID
      schema:
        type: integer
        minimum: 1
    timeOffRequestId:
      name: id
      in: path
      description: Time off request ID
      required: true
      schema:
        type: integer
        minimum: 1
    timeOffRequestIdQuery:
      name: id
      in: query
      description: Limit response to a given time off request ID
      schema:
        type: integer
        minimum: 1
    timeOffRequestStatus:
      name: status
      in: query
      description: Time off request statuses to include
      schema:
        $ref: '#/components/schemas/TimeOffRequestStatus'
    timeOffType:
      name: type
      in: query
      description: Time off types to include
      schema:
        $ref: '#/components/schemas/TimeOffTypeId'
    timeOffTypesMode:
      name: mode
      in: query
      description: >-
        Set to "request" to get a list of all time off types with which this
        user can create a time off request. The default is to return the list
        of time off types the user has permissions on. This distinction is
        important, as employees can request time off for types that they don't
        have permission to view balances and requests for.
      schema:
        type: string
        enum:
        - request
    timeTrackingId:
      name: id
      in: path
      description: Time Tracking ID
      required: true
      schema:
        $ref: '#/components/schemas/TimeTrackingId'
    whoIsOutEndDate:
      name: end
      in: query
      description: >-
        End of the date range to consider.
        Defaults to 14 days from the start date.
      schema:
        type: string
        format: date
    whoIsOutStartDate:
      name: start
      in: query
      description: >-
        Start of the date range to consider.
        Defaults to current date.
      schema:
        type: string
        format: date

  schemas:
    YesNo:
      type: string
      enum:
      - "yes"
      - "no"

    YesNoDoesNotApply:
      type: string
      enum:
      - "yes"
      - "no"
      - does not apply

    YesNoNonAssessment:
      type: string
      enum:
      - "yes"
      - "no"
      - non-assessment

    # Not yet observed in API responses.  Schema based on
    # https://documentation.bamboohr.com/docs/planned-changes-to-the-api#section-20191001-acastatus-field-deprecation
    AcaStatusCategory:
      type: string
      enum:
      - contractor
      - full-time
      - intern-compensated
      - intern-not-compensated
      - part-time-eligible
      - part-time-ineligible
      - seasonal
      - terminated

    AccountType:
      type: string
      enum:
      - checking
      - savings
      - other

    ChangeType:
      type: string
      enum:
      - Deleted
      - Inserted
      - Updated

    CurrencyCode:
      description: ISO 4217 currency code supported by BambooHR
      type: string
      # Extracted from /ajax/currency.php response
      enum:
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BRL
      - BSD
      - BWP
      - BYR
      - BZD
      - CAD
      - CDF
      - CHF
      - CLP
      - CNY
      - COP
      - CRC
      - CUP
      - CZK
      - DKK
      - DOP
      - DZD
      - ECS
      - EEK
      - EGP
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GGP
      - GHC
      - GHS
      - GIP
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - IMP
      - INR
      - IQD
      - IRR
      - ISK
      - JEP
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LTL
      - LVL
      - MAD
      - MCR
      - MKD
      - MMK
      - MNT
      - MOP
      - MUR
      - MWK
      - MXN
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLL
      - SOS
      - SRD
      - SVC
      - SYP
      - THB
      - TND
      - TOP
      - TRL
      - TRY
      - TTD
      - TVD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - UYU
      - UZS
      - VEF
      - VES
      - VND
      - VUV
      - XAF
      - XCD
      - XOF
      - YER
      - ZAR
      - ZMW
      - ZWD
      x-enum-descriptions:
      - UAE dirham
      - Afghanistan Afghani
      - Albania Lek
      - Armenian Dram
      - Netherlands Antilles Guilder
      - Angolan Kwanza
      - Argentine Peso
      - Australian Dollar
      - Aruba Guilder
      - Azerbaijan New Manat
      - Bosnia and Herzegovina Convertible Marka
      - Barbados Dollar
      - Bangladeshi Taka
      - Bulgaria Lev
      - Bahraini Dinar
      - Burundian Franc
      - Bermuda Dollar
      - Brunei Darussalam Dollar
      - Bolivia Boliviano
      - Brazilian Real
      - Bahamas Dollar
      - Botswana Pula
      - Belarus Ruble
      - Belize Dollar
      - Canadian Dollar
      - Congolese Francs
      - Swiss Franc
      - Chile Peso
      - Chinese Yuan Renminbi
      - Colombia Peso
      - Costa Rica Colon
      - Cuba Peso
      - Czech Republic Koruna
      - Denmark Krone
      - Dominican Republic Peso
      - Algerian Dinar
      - Ecuadorian Sucres
      - Estonia Kroon
      - Egypt Pound
      - Ethiopian Birr
      - Euro
      - Fiji Dollar
      - Falkland Islands (Malvinas) Pound
      - British Pound
      - Georgian Lari
      - Guernsey Pound
      - Ghana Cedis
      - Ghanaian Cedi
      - Gibraltar Pound
      - Guinean Franc
      - Guatemala Quetzal
      - Guyana Dollar
      - Hong Kong Dollar
      - Honduras Lempira
      - Croatia Kuna
      - Haitian Gourde
      - Hungary Forint
      - Indonesian Rupiah
      - Israel Shekel
      - Isle of Man Pound
      - Indian Rupee
      - Iraqui Dinar
      - Iran Rial
      - Iceland Krona
      - Jersey Pound
      - Jamaica Dollar
      - Jordanian Dinar
      - Yen
      - Kenyan Shilling
      - Kyrgyzstan Som
      - Cambodia Riel
      - Korea (North) Won
      - South Korean Won
      - Kuwaiti Dinar
      - Cayman Islands Dollar
      - Kazakhstan Tenge
      - Laos Kip
      - Lebanon Pound
      - Sri Lanka Rupee
      - Liberia Dollar
      - Lithuania Litas
      - Latvia Lat
      - Moroccan dirham
      - Maldivian Rufiyaa
      - Macedonia Denar
      - Burmese Kyat
      - Mongolia Tughrik
      - Macau Pataca
      - Mauritius Rupee
      - Malawian Kwacha
      - Mexican Peso
      - Malaysian ringgit
      - Mozambique Metical
      - Namibia Dollar
      - Nigerian Naira
      - Nicaragua Cordoba
      - Norway Krone
      - Nepal Rupee
      - New Zealand Dollar
      - Oman Rial
      - Panama Balboa
      - Peru Nuevo Sol
      - Papua New Guinean Kina
      - Philippine Peso
      - Pakistani Rupee
      - Polish złoty
      - Paraguay Guarani
      - Qatari Riyal
      - Romania New Leu
      - Serbia Dinar
      - Russia Ruble
      - Rwandan Franc
      - Saudi Arabia Riyal
      - Solomon Islands Dollar
      - Seychelles Rupee
      - Sudanese Pound
      - Swedish Krona
      - Singapore Dollar
      - Saint Helena Pound
      - Sierra Leonean Leone
      - Somalia Shilling
      - Suriname Dollar
      - El Salvador Colon
      - Syria Pound
      - Thai Baht
      - Tunisian dinar
      - Tongan pa'anga
      - Turkey Lira
      - Turkey Lira
      - Trinidad and Tobago Dollar
      - Tuvalu Dollar
      - Taiwan New Dollar
      - Tanzanian Shilling
      - Ukraine Hryvna
      - Uganda Shilling
      - US Dollar
      - Uruguay Peso
      - Uzbekistan Som
      - Venezuela Bolivar Fuerte
      - Venezuelan Bolívar Soberano
      - Vietnamese đồng
      - Vanuatu Vatu
      - Central African Franc
      - East Caribbean Dollar
      - West African Franc
      - Yemen Rial
      - South African Rand
      - Zambian Kwacha
      - Zimbabwe Dollar

    CurrencyAmount:
      type: object
      properties:
        currency:
          $ref: '#/components/schemas/CurrencyCode'
        value:
          type: string
          format: decimal
      required:
      - currency
      - value

    CurrencyAmountString:
      description: >-
        String representing an amount of a particular currency.

        Note: In some fields the number can be omitted (e.g. in bonusAmount)
        presumably this should be interpreted as 0.
      type: string
      pattern: '^([0-9]+(\.[0-9]+)?)? [A-Z]{3}$'

    EmployeeFieldName:
      description: Property names of the Employee schema.
      type: string
      # Note: enum values are generated from Employee as a build step
      # After any company-specific fields are added

    EmployeeFieldType:
      type: string
      enum:
      - aca_status
      - benefit_group
      - benefit_history
      - bonus
      - checkbox
      - contact_url
      - country
      - currency
      - date
      - email
      - employee
      - employee_access
      - employee_contacts
      - employee_number
      - exempt
      - gender
      - int
      - list
      - marital_status
      - multilist
      - paid_per
      - pay_period
      - pay_type
      - percentage
      - phone
      - relationship
      - ssn
      - state
      - status
      - text
      - textarea
      - time_off_type
      - time_off_type_exists
      - training_type
      - twitter_handle

    AcademicDegree:
      description: >-
        Degree, as defined in Employee Fields Settings
        https://{company}.bamboohr.com/settings/list.php?id=3500
      type: string

    CompensationChangeReason:
      description: >-
        Compensation change reason, as defined in Employee Fields Settings
        https://{company}.bamboohr.com/settings/list.php?id=3493
      type: string

    Country:
      description: Countries recognized by BambooHR
      type: string
      # Note: Order and count must match CountryCode
      enum:
      - Afghanistan
      - Albania
      - Algeria
      - American Samoa
      - Andorra
      - Angola
      - Anguilla
      - Antarctica
      - Antigua and Barbuda
      - Argentina
      - Armenia
      - Aruba
      - Australia
      - Austria
      - Azerbaijan
      - Åland Islands
      - Bahamas
      - Bahrain
      - Bangladesh
      - Barbados
      - Belarus
      - Belgium
      - Belize
      - Benin
      - Bermuda
      - Bhutan
      - Bolivia
      - Bonaire, Sint Eustatius and Saba
      - Bosnia and Herzegovina
      - Botswana
      - Bouvet Island
      - Brazil
      - British Indian Ocean Territory
      - Brunei Darussalam
      - Bulgaria
      - Burkina Faso
      - Burundi
      - Cambodia
      - Cameroon
      - Canada
      - Cape Verde
      - Cayman Islands
      - Central African Republic
      - Chad
      - Chile
      - China
      - Christmas Island
      - Cocos (Keeling Islands)
      - Colombia
      - Comoros
      - Congo
      - Congo, the Democratic Republic of the
      - Cook Islands
      - Costa Rica
      - Cote D'Ivoire (Ivory Coast)
      - Croatia (Hrvatska)
      - Cuba
      - Curaçao
      - Cyprus
      - Czech Republic
      - Denmark
      - Djibouti
      - Dominica
      - Dominican Republic
      - East Timor
      - Ecuador
      - Egypt
      - El Salvador
      - Equatorial Guinea
      - Eritrea
      - Estonia
      - Ethiopia
      - Falkland Islands (Malvinas)
      - Faroe Islands
      - Fiji
      - Finland
      - France
      - France, Metropolitan
      - French Guiana
      - French Polynesia
      - French Southern Territories
      - French West Indies
      - Gabon
      - Gambia
      - Georgia
      - Germany
      - Ghana
      - Gibraltar
      - Greece
      - Greenland
      - Grenada
      - Guadeloupe
      - Guam
      - Guatemala
      - Guernsey
      - Guinea
      - Guinea-Bissau
      - Guyana
      - Haiti
      - Heard and McDonald Islands
      - Honduras
      - Hong Kong
      - Hungary
      - Iceland
      - India
      - Indonesia
      - Iran
      - Iraq
      - Ireland
      - Isle of Man
      - Israel
      - Italy
      - Jamaica
      - Japan
      - Jersey
      - Jordan
      - Kazakhstan
      - Kenya
      - Kiribati
      - Korea (North)
      - Korea (South)
      - Kosovo
      - Kuwait
      - Kyrgyzstan
      - Laos
      - Latvia
      - Lebanon
      - Lesotho
      - Liberia
      - Libya
      - Liechtenstein
      - Lithuania
      - Luxembourg
      - Macao
      - Macedonia
      - Madagascar
      - Malawi
      - Malaysia
      - Maldives
      - Mali
      - Malta
      - Marshall Islands
      - Martinique
      - Mauritania
      - Mauritius
      - Mayotte
      - Mexico
      - Micronesia
      - Moldova
      - Monaco
      - Mongolia
      - Montenegro
      - Montserrat
      - Morocco
      - Mozambique
      - Myanmar
      - Namibia
      - Nauru
      - Nepal
      - Netherlands
      - Netherlands Antilles
      - New Caledonia
      - New Zealand
      - Nicaragua
      - Niger
      - Nigeria
      - Niue
      - Norfolk Island
      - Northern Mariana Islands
      - Norway
      - Oman
      - Pakistan
      - Palau
      - Palestinian Territories
      - Panama
      - Papua New Guinea
      - Paraguay
      - Peru
      - Philippines
      - Pitcairn
      - Poland
      - Portugal
      - Puerto Rico
      - Qatar
      - Reunion
      - Romania
      - Russian Federation
      - Rwanda
      - Saint Barthélemy
      - Saint Kitts and Nevis
      - Saint Lucia
      - Saint Vincent and the Grenadines
      - Samoa
      - San Marino
      - Sao Tome and Principe
      - Saudi Arabia
      - Senegal
      - Serbia
      - Seychelles
      - Sierra Leone
      - Singapore
      - Sint Maarten (Dutch part)
      - Slovakia
      - Slovenia
      - Solomon Islands
      - Somalia
      - South Africa
      - South Georgia and the South Sandwich Islands
      - South Sudan
      - Spain
      - Sri Lanka
      - St. Helena
      - St. Pierre and Miquelon
      - Sudan
      - Suriname
      - Svalbard
      - Swaziland
      - Sweden
      - Switzerland
      - Syria
      - Taiwan
      - Tajikistan
      - Tanzania
      - Thailand
      - Togo
      - Tokelau
      - Tonga
      - Trinidad and Tobago
      - Tunisia
      - Turkey
      - Turkmenistan
      - Turks and Caicos Islands
      - Tuvalu
      - Uganda
      - Ukraine
      - United Arab Emirates
      - United Kingdom
      - United States
      - Uruguay
      - US Minor Outlying Islands
      - Uzbekistan
      - Vanuatu
      - Vatican City State
      - Venezuela
      - Viet Nam
      - Virgin Islands (British)
      - Virgin Islands, U.S.
      - Wallis and Futuna Islands
      - Western Sahara
      - Yemen
      - Yugoslavia
      - Zaire
      - Zambia
      - Zimbabwe

    CountryCode:
      description: |-
        2-letter country codes recognized by BambooHR.

        Based on ISO 3166-2, with some previously removed entries:
        - AN for Netherlands Antilles
        - FX for France, Metropolitan
        - YU for Yugoslavia
        - ZR for Zaire

        And some non-standard additions:
        - XK for Kosovo
      type: string
      # Note: Order and count must match Country
      enum:
      - AF
      - AL
      - DZ
      - AS
      - AD
      - AO
      - AI
      - AQ
      - AG
      - AR
      - AM
      - AW
      - AU
      - AT
      - AZ
      - AX
      - BS
      - BH
      - BD
      - BB
      - BY
      - BE
      - BZ
      - BJ
      - BM
      - BT
      - BO
      - BQ
      - BA
      - BW
      - BV
      - BR
      - IO
      - BN
      - BG
      - BF
      - BI
      - KH
      - CM
      - CA
      - CV
      - KY
      - CF
      - TD
      - CL
      - CN
      - CX
      - CC
      - CO
      - KM
      - CG
      - CD
      - CK
      - CR
      - CI
      - HR
      - CU
      - CW
      - CY
      - CZ
      - DK
      - DJ
      - DM
      - DO
      - TL
      - EC
      - EG
      - SV
      - GQ
      - ER
      - EE
      - ET
      - FK
      - FO
      - FJ
      - FI
      - FR
      - FX
      - GF
      - PF
      - TF
      - MF
      - GA
      - GM
      - GE
      - DE
      - GH
      - GI
      - GR
      - GL
      - GD
      - GP
      - GU
      - GT
      - GG
      - GN
      - GW
      - GY
      - HT
      - HM
      - HN
      - HK
      - HU
      - IS
      - IN
      - ID
      - IR
      - IQ
      - IE
      - IM
      - IL
      - IT
      - JM
      - JP
      - JE
      - JO
      - KZ
      - KE
      - KI
      - KP
      - KR
      - XK
      - KW
      - KG
      - LA
      - LV
      - LB
      - LS
      - LR
      - LY
      - LI
      - LT
      - LU
      - MO
      - MK
      - MG
      - MW
      - MY
      - MV
      - ML
      - MT
      - MH
      - MQ
      - MR
      - MU
      - YT
      - MX
      - FM
      - MD
      - MC
      - MN
      - ME
      - MS
      - MA
      - MZ
      - MM
      - NA
      - NR
      - NP
      - NL
      - AN
      - NC
      - NZ
      - NI
      - NE
      - NG
      - NU
      - NF
      - MP
      - 'NO'
      - OM
      - PK
      - PW
      - PS
      - PA
      - PG
      - PY
      - PE
      - PH
      - PN
      - PL
      - PT
      - PR
      - QA
      - RE
      - RO
      - RU
      - RW
      - BL
      - KN
      - LC
      - VC
      - WS
      - SM
      - ST
      - SA
      - SN
      - RS
      - SC
      - SL
      - SG
      - SX
      - SK
      - SI
      - SB
      - SO
      - ZA
      - GS
      - SS
      - ES
      - LK
      - SH
      - PM
      - SD
      - SR
      - SJ
      - SZ
      - SE
      - CH
      - SY
      - TW
      - TJ
      - TZ
      - TH
      - TG
      - TK
      - TO
      - TT
      - TN
      - TR
      - TM
      - TC
      - TV
      - UG
      - UA
      - AE
      - GB
      - US
      - UY
      - UM
      - UZ
      - VU
      - VA
      - VE
      - VN
      - VG
      - VI
      - WF
      - EH
      - YE
      - YU
      - ZR
      - ZM
      - ZW

    Department:
      description: >-
        Department, as defined in Employee Fields Settings
        https://{company}.bamboohr.com/settings/list.php?id=3478
      type: string

    DependentRelationship:
      type: string
      enum:
      - spouse
      - child
      - domestic partner
      - step child
      - foster child

    DirectDepositRuleType:
      type: string
      enum:
      - BAL
      - FLAT
      - PCT
      x-enum-descriptions:
      - Balance
      - Flat Amount
      - Percentage
      x-enum-varnames:
      - Balance
      - FlatAmount
      - Percentage

    Division:
      description: >-
        Division, as defined in Employee Fields Settings
        https://{company}.bamboohr.com/settings/list.php?id=3487
      type: string

    EEOJobCategory:
      description: >-
        U.S. Equal Employment Opportunity Commission Job Categories
        https://www.eeoc.gov/employers/eeo1survey/jobclassguide.cfm
      type: string
      enum:
      - First/Mid Level Officials and Managers
      - Sales Workers
      - Administrative Support Workers
      - Craft Workers
      - Executive/Senior Level Officials and Managers
      - Laborers and Helpers
      - Operatives
      - Professionals
      - Service Workers
      - Technicians

    EmergencyContactRelationship:
      description: >-
        Emergency contact relationship, as defined in Employee Fields Settings
        https://{company}.bamboohr.com/settings/list.php?id=3491
      type: string

    EmployeeStatus:
      type: string
      enum:
      - Active
      - Inactive

    EmploymentStatus:
      description: >-
        Compensation change reason, as defined in Employee Fields Settings
        https://{company}.bamboohr.com/settings/list.php?id=3475
      type: string

    Ethnicity:
      type: string
      enum:
      - American Indian or Alaska Native
      - Asian
      - Black or African American
      - Hispanic or Latino
      - Native Hawaiian or Other Pacific Islander
      - Two or More Races
      - White

    Gender:
      type: string
      enum:
      - Female
      - Male

    JobTitle:
      description: >-
        Job title, as defined in Employee Fields Settings
        https://{company}.bamboohr.com/settings/list.php?id=3476
      type: string

    Location:
      description: >-
        Location, as defined in Employee Fields Settings
        https://{company}.bamboohr.com/settings/list.php?id=3477
      type: string

    MaritalStatus:
      type: string
      enum:
      - Single
      - Married
      - Common Law
      - Domestic Partnership

    OvertimeExemptStatus:
      type: string
      enum:
      - Exempt
      - Non-exempt

    PayFrequency:
      type: string
      enum:
      - Weekly
      - Every other week
      - Twice a month
      - Monthly
      - Quarterly
      - Twice a year
      - Yearly

    PayGroup:
      description: >-
        Pay groups, as defined in Employee Fields Settings
        https://{company}.bamboohr.com/settings/list.php?id=pay_group
      type: string

    PayGroupPayFrequency:
      type: string
      enum:
      - daily
      - weekly
      - bi-weekly
      - semi-monthly
      - monthly
      - quarterly
      - semi-annually
      - annually

    PayPer:
      type: string
      enum:
      - Hour
      - Day
      - Week
      - Month
      - Quarter
      - Year

    PaySchedule:
      description: >-
        Pay schedules, as defined in Employee Fields Settings
        https://{company}.bamboohr.com/settings/pay_schedules
      type: string

    PayType:
      type: string
      enum:
      - Hourly
      - Salary
      - Commission
      - Exception Hourly
      - Monthly
      - Piece Rate
      - Contract
      - Daily

    PhotoSize:
      type: string
      enum:
      - original
      - large
      - medium
      - small
      - tiny
      x-enum-descriptions:
      - Original size
      - 340x340
      - 170x170
      - 150x150
      - 20x20

    ProvinceCode:
      description: >-
        Canadian province codes recognized by BambooHR.


        Matches postal abbreviations for states and possessions,
        excluding military abbreviations (AA, AE, AP)
      type: string
      enum:
      - AB
      - BC
      - MB
      - NB
      - NL
      - NS
      - NT
      - NU
      - "ON"
      - PE
      - QC
      - SK
      - YT
      x-enum-descriptions:
      - Alberta
      - British Columbia
      - Manitoba
      - New Brunswick
      - Newfoundland and Labrador
      - Nova Scotia
      - Northwest Territories
      - Nunavut
      - Ontario
      - Prince Edward Island
      - Quebec
      - Saskatchewan
      - Yukon

    ProvinceName:
      description: Canadian province names recognized by BambooHR.
      type: string
      x-ms-enum:
        name: ProvinceName
        modelAsString: true
      enum:
      - Alberta
      - British Columbia
      - Manitoba
      - New Brunswick
      - Newfoundland and Labrador
      - Nova Scotia
      - Northwest Territories
      - Nunavut
      - Ontario
      - Prince Edward Island
      - Quebec
      - Saskatchewan
      - Yukon

    ReimbursementFrequency:
      type: string
      enum:
      - pay period
      - month
      - quarter
      - year
      - one time

    SocialInsuranceNumber:
      description: Canadian Social Insurance number
      type: string
      format: sin
      pattern: '^[0-9]{3}-[0-9]{3}-[0-9]{3}$'

    SocialSecurityNumber:
      description: Social Security number
      type: string
      format: ssn
      pattern: '^[0-9]{3}-[0-9]{2}-[0-9]{4}$'

    StateCode:
      description: >-
        State codes recognized by BambooHR.


        Matches postal abbreviations for states and possessions,
        excluding military abbreviations (AA, AE, AP)
      type: string
      enum:
      - AL
      - AK
      - AS
      - AZ
      - AR
      - CA
      - CO
      - CT
      - DE
      - DC
      - FM
      - FL
      - GA
      - GU
      - HI
      - ID
      - IL
      - IN
      - IA
      - KS
      - KY
      - LA
      - ME
      - MH
      - MD
      - MA
      - MI
      - MN
      - MS
      - MO
      - MT
      - NE
      - NV
      - NH
      - NJ
      - NM
      - NY
      - NC
      - ND
      - MP
      - OH
      - OK
      - OR
      - PW
      - PA
      - PR
      - RI
      - SC
      - SD
      - TN
      - TX
      - UT
      - VT
      - VI
      - VA
      - WA
      - WV
      - WI
      - WY
      x-enum-descriptions:
      - Alabama
      - Alaska
      - American Samoa
      - Arizona
      - Arkansas
      - California
      - Colorado
      - Connecticut
      - Delaware
      - District of Columbia
      - Federated States of Micronesia
      - Florida
      - Georgia
      - Guam
      - Hawaii
      - Idaho
      - Illinois
      - Indiana
      - Iowa
      - Kansas
      - Kentucky
      - Louisiana
      - Maine
      - Marshall Islands
      - Maryland
      - Massachusetts
      - Michigan
      - Minnesota
      - Mississippi
      - Missouri
      - Montana
      - Nebraska
      - Nevada
      - New Hampshire
      - New Jersey
      - New Mexico
      - New York
      - North Carolina
      - North Dakota
      - Northern Mariana Islands
      - Ohio
      - Oklahoma
      - Oregon
      - Palau
      - Pennsylvania
      - Puerto Rico
      - Rhode Island
      - South Carolina
      - South Dakota
      - Tennessee
      - Texas
      - Utah
      - Vermont
      - Virgin Islands
      - Virginia
      - Washington
      - West Virginia
      - Wisconsin
      - Wyoming

    StateName:
      description: State names recognized by BambooHR.
      type: string
      x-ms-enum:
        name: StateName
        modelAsString: true
      enum:
      - Alabama
      - Alaska
      - American Samoa
      - Arizona
      - Arkansas
      - California
      - Colorado
      - Connecticut
      - Delaware
      - District of Columbia
      - Federated States of Micronesia
      - Florida
      - Georgia
      - Guam
      - Hawaii
      - Idaho
      - Illinois
      - Indiana
      - Iowa
      - Kansas
      - Kentucky
      - Louisiana
      - Maine
      - Marshall Islands
      - Maryland
      - Massachusetts
      - Michigan
      - Minnesota
      - Mississippi
      - Missouri
      - Montana
      - Nebraska
      - Nevada
      - New Hampshire
      - New Jersey
      - New Mexico
      - New York
      - North Carolina
      - North Dakota
      - Northern Mariana Islands
      - Ohio
      - Oklahoma
      - Oregon
      - Palau
      - Pennsylvania
      - Puerto Rico
      - Rhode Island
      - South Carolina
      - South Dakota
      - Tennessee
      - Texas
      - Utah
      - Vermont
      - Virgin Islands
      - Virginia
      - Washington
      - West Virginia
      - Wisconsin
      - Wyoming

    TerminationReason:
      description: >-
        Termination reason, as defined in Employee Fields Settings
        https://{company}.bamboohr.com/settings/list.php?id=3483
      type: string

    TerminationType:
      type: string
      enum:
      - Death
      - Involuntary
      - Voluntary

    TimeTrackingRateType:
      type: string
      enum:
      - REG
      - OT
      x-enum-descriptions:
      - Regular
      - Overtime
      x-enum-varnames:
      - Regular
      - Overtime

    # Not currently used, since tableName parameter was removed in favor of
    # treating each table path as a separate operation, since it returns a
    # different schema.
    #
    # EmployeeCustomTableName:
    #   type: string
    #   pattern: '^custom.*'
    #
    # EmployeeStandardTableName:
    #   type: string
    #   enum:
    #   - contacts
    #   - compensation
    #   - dependents
    #   - emergencyContacts
    #   - employmentStatus
    #   - jobInfo
    #   x-enum-descriptions:
    #   - Emergency Contacts Table
    #   - Compensation Table
    #   - Dependents Table
    #   - Emergency Contacts Table
    #   - Employment Status Table
    #   - Job Info Table
    #
    # EmployeeTableName:
    #   anyOf:
    #   - $ref: '#/components/schemas/EmployeeCustomTableName'
    #   - $ref: '#/components/schemas/EmployeeStandardTableName'

    Field:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/EmployeeFieldName'
        type:
          type: string
        name:
          type: string

    Employee:
      type: object
      properties:
        address1:
          description: The employee's first address line.
          type: string
          nullable: true
        address2:
          description: The employee's second address line.
          type: string
          nullable: true
        age:
          description: >-
            The employee's age. To change age, update dateOfBirth field.

            Has value -1 when dateOfBirth is unspecified.
          readOnly: true
          type: integer
          minimum: -1
        bestEmail:
          description: The employee's work email if set, otherwise their home email.
          readOnly: true
          type: string
          format: email
          nullable: true
        birthday:
          description: >-
            The employee's month and day of birth. To change birthday, update
            dateOfBirth field.

            Is empty string if dateOfBirth is unspecified.
          readOnly: true
          type: string
          pattern: '^([01][0-9]-[0-3][0-9])?$'
        city:
          description: The employee's city.
          type: string
          nullable: true
        country:
          description: The employee's country.
          nullable: true
          allOf:
          - $ref: '#/components/schemas/Country'
        dateOfBirth:
          description: The date the employee was born.
          nullable: true
          type: string
          format: date
        department:
          description: The employee's CURRENT department.
          nullable: true
          allOf:
          - $ref: '#/components/schemas/Department'
        division:
          description: The employee's CURRENT division.
          nullable: true
          allOf:
          - $ref: '#/components/schemas/Division'
        eeo:
          description: The employee's EEO job category
          nullable: true
          allOf:
          - $ref: '#/components/schemas/EEOJobCategory'
        employeeNumber:
          description: Employee number (assigned by your company).
          nullable: true
          type: string
        employmentHistoryStatus:
          description: The employee's CURRENT employment status. Options are customized by account. Read-only starting with version 1.1; update using the employmentStatus table.
          nullable: true
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/EmploymentStatus'
        ethnicity:
          description: The employee's ethnicity.
          nullable: true
          allOf:
          - $ref: '#/components/schemas/Ethnicity'
        exempt:
          description: The employee's FLSA Overtime Status
          nullable: true
          allOf:
          - $ref: '#/components/schemas/OvertimeExemptStatus'
        firstName:
          description: The employee's first name.
          nullable: true
          type: string
          minLength: 1
        flsaCode:
          description: The employee's FLSA Overtime Status
          deprecated: true
          x-deprecated:
            replaced-by: exempt
          nullable: true
          allOf:
          - $ref: '#/components/schemas/OvertimeExemptStatus'
        fullName1:
          description: The employee's first and last name. (e.g., John Doe).
          readOnly: true
          type: string
          minLength: 1
        fullName2:
          description: The employee's last and first name. (e.g., Doe, John).
          readOnly: true
          type: string
          minLength: 1
        fullName3:
          description: The employee's full name and their preferred name. (e.g., Doe, John Quentin (JDog)).
          readOnly: true
          type: string
          minLength: 1
        fullName4:
          description: The employee's full name without their preferred name, last name first. (e.g., Doe, John Quentin).
          readOnly: true
          type: string
          minLength: 1
        fullName5:
          description: The employee's full name without their preferred name, first name first. (e.g., John Quentin Doe).
          readOnly: true
          type: string
          minLength: 1
        displayName:
          description: The employee's name displayed in a format configured by the user.
          readOnly: true
          type: string
          minLength: 1
        gender:
          description: The employee's gender.
          nullable: true
          allOf:
          - $ref: '#/components/schemas/Gender'
        hireDate:
          description: The date the employee was hired.
          type: string
          format: date
        originalHireDate:
          description: The date the employee was originally hired. Available starting with version 1.1.
          type: string
          format: date
        homeEmail:
          description: The employee's home email address.
          nullable: true
          type: string
          format: email
        homePhone:
          description: The employee's home phone number.
          nullable: true
          type: string
        id:
          description: The employee ID automatically assigned by BambooHR.
          readOnly: true
          type: integer
          minimum: 1
        jobTitle:
          description: The CURRENT value of the employee's job title, updating this field will create a new row in position history.
          nullable: true
          allOf:
          - $ref: '#/components/schemas/JobTitle'
        lastChanged:
          description: The date and time that the employee record was last changed.
          readOnly: true
          type: string
          format: date-time
        lastName:
          description: The employee's last name.
          type: string
          minLength: 1
        location:
          description: The employee's CURRENT location.
          nullable: true
          allOf:
          - $ref: '#/components/schemas/Location'
        maritalStatus:
          description: The employee's marital status
          nullable: true
          allOf:
          - $ref: '#/components/schemas/MaritalStatus'
        middleName:
          description: The employee's middle name.
          nullable: true
          type: string
        mobilePhone:
          description: The employee's mobile phone number.
          nullable: true
          type: string
        payChangeReason:
          description: The reason for the employee's last pay rate change.
          nullable: true
          allOf:
          - $ref: '#/components/schemas/CompensationChangeReason'
        payGroup:
          description: The custom pay group that the employee belongs to.
          nullable: true
          allOf:
          - $ref: '#/components/schemas/PayGroup'
        payGroupId:
          description: The ID value corresponding to the pay group that an employee belongs to.
          nullable: true
          type: integer
          minimum: 1
        payRate:
          description: The employee's CURRENT pay rate
          nullable: true
          allOf:
          - $ref: '#/components/schemas/CurrencyAmountString'
        payRateEffectiveDate:
          description: The day the most recent change was made.
          readOnly: true
          nullable: true
          type: string
          format: date
        payType:
          description: The employee's CURRENT pay type.
          nullable: true
          allOf:
          - $ref: '#/components/schemas/PayType'
        payPer:
          description: The employee's CURRENT pay per.
          nullable: true
          allOf:
          - $ref: '#/components/schemas/PayPer'
        paidPer:
          description: The employee's CURRENT pay per.
          nullable: true
          deprecated: true
          x-deprecated:
            replaced-by: payPer
          allOf:
          - $ref: '#/components/schemas/PayPer'
        paySchedule:
          description: The employee's CURRENT pay schedule.
          nullable: true
          allOf:
          - $ref: '#/components/schemas/PaySchedule'
        payScheduleId:
          description: The ID value corresponding to the pay schedule that an employee belongs to.
          nullable: true
          type: integer
          minimum: 1
        payFrequency:
          description: The employee's CURRENT pay frequency.
          nullable: true
          allOf:
          - $ref: '#/components/schemas/PayFrequency'
        includeInPayroll:
          description: Should employee be included in payroll
          type: boolean
        timeTrackingEnabled:
          description: Should time tracking be enabled for the employee
          type: boolean
        preferredName:
          description: The employee's preferred name.
          nullable: true
          type: string
        ssn:
          description: The employee's Social Security number.
          nullable: true
          allOf:
          - $ref: '#/components/schemas/SocialSecurityNumber'
        sin:
          description: The employee's Canadian Social Insurance Number.
          nullable: true
          allOf:
          - $ref: '#/components/schemas/SocialInsuranceNumber'
        state:
          description: >-
            In responses from getEmployee:  The employee's state code (if USA),
            province (if Canada), or state/province name.


            In responses from getReport and getCustomReport: The employee's
            state/province name.
          # TODO: Uncomment once OpenAPI Generator or Autorest support anyOf
          # https://github.com/OpenAPITools/openapi-generator/issues/15
          # anyOf:
          # - $ref: '#/components/schemas/StateCode'
          # - $ref: '#/components/schemas/StateName'
          # - $ref: '#/components/schemas/ProvinceCode'
          # - type: string
          type: string
        stateCode:
          description: The 2 character abbreviation for the employee's state (US only).
          readOnly: true
          nullable: true
          allOf:
          - $ref: '#/components/schemas/StateCode'
        status:
          description: The employee's employee status.
          allOf:
          - $ref: '#/components/schemas/EmployeeStatus'
        supervisor:
          description: The employee’s CURRENT supervisor as last name-comma-first name-space-middle name.
          readOnly: true
          nullable: true
          type: string
        supervisorId:
          description: The 'employeeNumber' of the employee's CURRENT supervisor.
          readOnly: true
          nullable: true
          type: string
        supervisorEId:
          description: The ID of the employee's CURRENT supervisor.
          readOnly: true
          nullable: true
          type: integer
          minimum: 1
        terminationDate:
          description: The date the employee was terminated. Read-only starting with version 1.1; update using the employmentStatus table.
          readOnly: true
          type: string
          format: date
        workEmail:
          description: The employee's work email address.
          nullable: true
          type: string
          format: email
        workPhone:
          description: The employee's work phone number, without extension.
          nullable: true
          type: string
        workPhonePlusExtension:
          description: The employee's work phone and extension.
          nullable: true
          readOnly: true
          type: string
        workPhoneExtension:
          description: The employee's work phone extension (if any).
          nullable: true
          type: string
        zipcode:
          description: The employee's ZIP code.
          nullable: true
          type: string
        isPhotoUploaded:
          description: Whether a photo has been uploaded for the employee.
          readOnly: true
          type: boolean
        acaStatus:
          description: The employee's ACA (Affordable Care Act) Full-Time status.
          nullable: true
          deprecated: true
          x-deprecated:
            description: >-
              Use acaStatusCategory instead.

              See https://documentation.bamboohr.com/docs/planned-changes-to-the-api#section-20191001-acastatus-field-deprecation
            replaced-by: acaStatusCategory
          allOf:
          - $ref: '#/components/schemas/YesNoNonAssessment'
        acaStatusCategory:
          description: The employee's ACA (Affordable Care Act) status.
          readOnly: true
          nullable: true
          allOf:
          - $ref: '#/components/schemas/AcaStatusCategory'
        standardHoursPerWeek:
          description: The number of hours the employee works in a standard week.
          type: integer
          minimum: 0
        bonusDate:
          description: The date of the last bonus.
          nullable: true
          type: string
          format: date
        bonusAmount:
          description: The amount of the most recent bonus
          allOf:
          - $ref: '#/components/schemas/CurrencyAmountString'
        bonusReason:
          description: The reason for the most recent bonus.
          nullable: true
          type: string
        bonusComment:
          description: Comment about the most recent bonus.
          nullable: true
          type: string
        commissionDate:
          description: The date of the last commission.
          type: string
          format: date
        commisionDate:
          description: This field name contains a typo, and exists for backwards compatibility.
          deprecated: true
          x-deprecated:
            replaced-by: commissionDate
          type: string
          format: date
        commissionAmount:
          description: The amount of the most recent commission.
          allOf:
          - $ref: '#/components/schemas/CurrencyAmountString'
        commissionComment:
          description: Comment about the most recent commission.
          type: string
        employmentStatus:
          description: The employee's employee status.
          deprecated: true
          x-deprecated:
            replaced-by: status
          allOf:
          - $ref: '#/components/schemas/EmployeeStatus'
        nickname:
          description: The employee's preferred name.
          nullable: true
          type: string
          deprecated: true
          x-deprecated:
            replaced-by: preferredName
        payPeriod:
          description: The employee's CURRENT pay period.
          deprecated: true
          x-deprecated:
            description: Use paySchedule or payFrequency instead.
            replaced-by: paySchedule
          allOf:
          - $ref: '#/components/schemas/PayFrequency'
        canUploadPhoto:
          description: >-
            The employee is permitted to upload a photo.

            This field is only included in getDirectory responses.
          readOnly: true
          type: boolean
        photoUploaded:
          description: The employee has uploaded a photo.
          readOnly: true
          type: boolean
          deprecated: true
          x-deprecated:
            replaced-by: isPhotoUploaded
        photoUrl:
          description: >-
            Employee photo url, or a placeholder photo URL when photoUploaded
            is false.
          type: string
          format: url
        nin:
          description: The employee's NIN number
          type: string
        nationalId:
          description: The employee's National ID number
          type: string
        nationality:
          description: The employee's nationality
          type: string
        facebook:
          description: The employee's Facebook username or URL
          nullable: true
          type: string
        linkedIn:
          description: The employee's LinkedIn URL
          nullable: true
          type: string
          format: url
        skypeUsername:
          description: The employee's Skype username
          type: string
        twitterFeed:
          description: The employee's Twitter username or URL
          nullable: true
          type: string
      # https://github.com/OAI/OpenAPI-Specification/issues/687
      # patternProperties:
      #   '^customField':
      #     type: string
      additionalProperties:
        type: string
      # Note: Only id is required due to how employeeFields parameter works
      required:
      - id

    EmployeeDirectory:
      type: object
      properties:
        fields:
          type: array
          items:
            $ref: '#/components/schemas/Field'
        employees:
          type: array
          items:
            $ref: '#/components/schemas/Employee'
      required:
      - fields
      - employees

    ReportFilters:
      type: object
      properties:
        lastChanged:
          type: object
          properties:
            includeNull:
              xml:
                attribute: true
              allOf:
              - $ref: '#/components/schemas/YesNo'
            value:
              type: string
              format: date-time

    CustomReportRequest:
      type: object
      properties:
        title:
          type: string
        filters:
          $ref: '#/components/schemas/ReportFilters'
        fields:
          description: >-
            Employee fields to include in the custom report.

            Note: If fields is empty or not specified, only one employee is
            returned.  To avoid this unexpected behavior, it is specified
            here as required with minLength: 1
          type: array
          minLength: 1
          items:
            $ref: '#/components/schemas/EmployeeFieldName'
      required:
      - fields

    EmployeeReport:
      allOf:
      - $ref: '#/components/schemas/EmployeeDirectory'
      - type: object
        properties:
          title:
            type: string
        required:
        - title

    ReportFormat:
      type: string
      enum:
      - CSV
      - JSON
      - PDF
      - XLS
      - XML

    File:
      xml:
        name: file
      type: object
      properties:
        id:
          xml:
            attribute: true
          readOnly: true
          type: integer
          minimum: 1
        name:
          description: File name
          type: string
        originalFileName:
          type: string
        size:
          description: Size of the file content, in bytes.
          type: integer
          minimum: 0
        dateCreated:
          type: string
          format: date-time
        createdBy:
          description: Full name of the user who uploaded the file.
          type: string
        shareWithEmployee:
          $ref: '#/components/schemas/YesNo'

    FileCategory:
      xml:
        name: category
      type: object
      properties:
        id:
          xml:
            attribute: true
          readOnly: true
          type: integer
          minimum: 1
        name:
          type: string
      required:
      - id
      - name

    EmployeeFile:
      allOf:
      - $ref: '#/components/schemas/File'
      - type: object
        properties:
          canRenameFile:
            $ref: '#/components/schemas/YesNo'
          canDeleteFile:
            $ref: '#/components/schemas/YesNo'
          canChangeShareWithEmployeeFieldValue:
            $ref: '#/components/schemas/YesNo'

    EmployeeFileCategory:
      allOf:
      - $ref: '#/components/schemas/FileCategory'
      - type: object
        properties:
          canRenameCategory:
            $ref: '#/components/schemas/YesNo'
          canDeleteCategory:
            $ref: '#/components/schemas/YesNo'
          canUploadFiles:
            $ref: '#/components/schemas/YesNo'
          displayIfEmpty:
            $ref: '#/components/schemas/YesNo'
          files:
            type: array
            items:
              $ref: '#/components/schemas/EmployeeFile'
        required:
        - canRenameCategory
        - canDeleteCategory
        - canUploadFiles
        - displayIfEmpty
        - files

    EmployeeFiles:
      type: object
      properties:
        employee:
          $ref: '#/components/schemas/Employee'
        categories:
          type: array
          items:
            $ref: '#/components/schemas/EmployeeFileCategory'
      required:
      - employee
      - categories

    CompanyFileCategory:
      allOf:
      - $ref: '#/components/schemas/FileCategory'
      - type: object
        properties:
          files:
            type: array
            items:
              $ref: '#/components/schemas/File'
        required:
        - files

    CompanyFiles:
      xml:
        name: files
      type: array
      items:
        $ref: '#/components/schemas/CompanyFileCategory'

    UpdateFileRequest:
      xml:
        name: file
      type: object
      properties:
        name:
          type: string
        categoryId:
          type: integer
          minimum: 1
        shareWithEmployee:
          $ref: '#/components/schemas/YesNo'

    AddCompanyFileCategoryRequest:
      xml:
        name: files
        wrapped: true
      type: array
      items:
        xml:
          name: category
        type: string

    AddEmployeeFileCategoryRequest:
      xml:
        name: employee
        wrapped: true
      type: array
      items:
        xml:
          name: category
        type: string

    UploadFileRequest:
      type: object
      properties:
        category:
          description: Category ID in which to place the uploaded file.
          type: integer
          minimum: 1
        fileName:
          type: string
        share:
          $ref: '#/components/schemas/YesNo'
        file:
          description: Content of file to upload.
          type: string
          format: binary
      required:
      - category
      - fileName
      - file

    UploadPhotoRequest:
      type: object
      properties:
        file:
          description: >-
            Photo to upload.


            - The width and height of the photo must be the same number of pixels.

            - The source photo must be a JPEG, GIF, or PNG.

            - The photo file may not be larger than 20MB.
          type: string
          format: binary
      required:
      - file

    CompensationChange:
      type: object
      properties:
        id:
          type: string
          format: integer
          readOnly: true
        employeeId:
          type: string
          format: integer
          readOnly: true
        startDate:
          type: string
          format: date
        rate:
          $ref: '#/components/schemas/CurrencyAmount'
        type:
          $ref: '#/components/schemas/PayType'
        exempt:
          $ref: '#/components/schemas/OvertimeExemptStatus'
        reason:
          $ref: '#/components/schemas/CompensationChangeReason'
        comment:
          type: string
        paidPer:
          $ref: '#/components/schemas/PayPer'
        paySchedule:
          $ref: '#/components/schemas/PaySchedule'

    Dependent:
      type: object
      properties:
        id:
          type: string
          format: integer
          readOnly: true
        employeeId:
          type: string
          format: integer
          readOnly: true
        firstName:
          type: string
          nullable: true
        middleName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        relationship:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/DependentRelationship'
        gender:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/Gender'
        addressLine1:
          type: string
          nullable: true
        addressLine2:
          type: string
          nullable: true
        ssn:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/SocialSecurityNumber'
        sin:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/SocialInsuranceNumber'
        dateOfBirth:
          type: string
          format: date
          nullable: true
        city:
          type: string
          nullable: true
        state:
          description: >-
            State code, province code, or province name (if code unavailable)
            of dependent's address
          nullable: true
          # TODO: Uncomment once OpenAPI Generator or Autorest support anyOf
          # https://github.com/OpenAPITools/openapi-generator/issues/15
          # anyOf:
          # - $ref: '#/components/schemas/StateCode'
          # - $ref: '#/components/schemas/ProvinceCode'
          # - type: string
          type: string
        homePhone:
          type: string
          nullable: true
        country:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/Country'
        zipcode:
          type: string
          nullable: true

    EmergencyContact:
      type: object
      properties:
        id:
          type: string
          format: integer
          readOnly: true
        employeeId:
          type: string
          format: integer
          readOnly: true
        name:
          type: string
        relationship:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/EmergencyContactRelationship'
        homePhone:
          type: string
          nullable: true
        addressLine1:
          type: string
          nullable: true
        addressLine2:
          type: string
          nullable: true
        mobilePhone:
          type: string
          nullable: true
        email:
          type: string
          format: email
          nullable: true
        zipcode:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        state:
          description: >-
            State code, province code, or province name (if code unavailable)
            of emergency contact's address
          nullable: true
          # TODO: Uncomment once OpenAPI Generator or Autorest support anyOf
          # https://github.com/OpenAPITools/openapi-generator/issues/15
          # anyOf:
          # - $ref: '#/components/schemas/StateCode'
          # - $ref: '#/components/schemas/ProvinceCode'
          # - type: string
          type: string
        country:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/Country'
        workPhone:
          type: string
          nullable: true
        workPhoneExtension:
          type: string
          nullable: true

    EmploymentStatusChange:
      type: object
      properties:
        id:
          type: string
          format: integer
          readOnly: true
        employeeId:
          type: string
          format: integer
          readOnly: true
        date:
          type: string
          format: date
        employmentStatus:
          $ref: '#/components/schemas/EmploymentStatus'
        comment:
          type: string
          nullable: true
        terminationReasonId:
          $ref: '#/components/schemas/TerminationReason'
        terminationTypeId:
          $ref: '#/components/schemas/TerminationType'
        terminationRehireId:
          $ref: '#/components/schemas/YesNo'
        benetracStatus:
          type: string
          nullable: true
        gusto:
          type: string
          nullable: true
      required:
      - id
      - employeeId
      - date
      - employmentStatus
      - comment
      - terminationReasonId
      - terminationTypeId
      - terminationRehireId
      - benetracStatus
      - gusto

    JobInfoChange:
      type: object
      properties:
        id:
          type: string
          format: integer
          readOnly: true
        employeeId:
          type: string
          format: integer
          readOnly: true
        date:
          type: string
          format: date
        location:
          $ref: '#/components/schemas/Location'
        division:
          description: The employee's CURRENT division.
          allOf:
          - $ref: '#/components/schemas/Division'
        department:
          description: The employee's CURRENT department.
          allOf:
          - $ref: '#/components/schemas/Department'
        jobTitle:
          $ref: '#/components/schemas/JobTitle'
        reportsTo:
          type: string
      required:
      - id
      - employeeId
      - date
      - location
      - division
      - department
      - jobTitle
      - reportsTo

    TimeOffPolicyType:
      type: string
      enum:
      - accruing
      - discretionary
      - manual

    TimeOffRequestAction:
      type: string
      enum:
      - approve
      - view

    TimeOffUnit:
      type: string
      enum:
      - days
      - hours

    TimeOffActions:
      type: object
      properties:
        view:
          type: boolean
        edit:
          type: boolean
        cancel:
          type: boolean
        approve:
          type: boolean
        deny:
          type: boolean
        bypass:
          type: boolean
      required:
      - view
      - edit
      - cancel
      - approve
      - deny
      - bypass

    TimeOffAmount:
      xml:
        name: amount
      type: object
      properties:
        unit:
          xml:
            attribute: true
          allOf:
          - $ref: '#/components/schemas/TimeOffUnit'
        amount:
          type: string
          format: integer
      required:
      - unit
      - amount

    TimeOffIcon:
      type: string
      enum:
      - airplane
      - baby-carriage
      - band-aid
      - birthday-cake
      - camping-trailer
      - family
      - first-aid-kit
      - gavel
      - graduation
      - happy-calendar
      - home
      - joining-hands
      - medal
      - palm-trees
      - selfie
      - teddy-bear
      - time-off-calendar
      - time-off-luggage

    TimeOffNotes:
      description: >-
        Earliest note made on a time off request by the employee and manager.
        If either has made multiple notes, only the first is returned.
      type: object
      properties:
        employee:
          type: string
        manager:
          type: string

    TimeOffTypeId:
      description: >-
        Time off type identifier defined in the Metadata API
        https://www.bamboohr.com/api/documentation/metadata.php#timeOffTypes
        and visible in Settings > Time Off in the web UI.
      type: string
      format: integer

    TimeOffTypeInfo:
      xml:
        name: type
      type: object
      properties:
        id:
          xml:
            attribute: true
          allOf:
          - $ref: '#/components/schemas/TimeOffTypeId'
        name:
          type: string
        icon:
          xml:
            attribute: true
          allOf:
          - $ref: '#/components/schemas/TimeOffIcon'
      required:
      - id
      - name
      - icon

    TimeOffTypeInfoDetailed:
      allOf:
      - $ref: '#/components/schemas/TimeOffTypeInfo'
      - xml:
          name: timeOffType
        type: object
        properties:
          units:
            $ref: '#/components/schemas/TimeOffUnit'
          color:
            type: string
            pattern: '^[0-9a-f]{6}$'
        required:
        - units
        - color

    TimeOffTypes:
      xml:
        name: timeOffTypes
      type: object
      properties:
        timeOffTypes:
          type: array
          items:
            $ref: '#/components/schemas/TimeOffTypeInfoDetailed'
        defaultHours:
          type: array
          items:
            $ref: '#/components/schemas/TableMetadata'

    TimeOffPolicy:
      xml:
        name: timeOffPolicy
      type: object
      properties:
        id:
          xml:
            attribute: true
          type: integer
          minimum: 1
        timeOffTypeId:
          $ref: '#/components/schemas/TimeOffTypeId'
        name:
          type: string
        effectiveDate:
          type: string
          format: date
          nullable: true
        type:
          $ref: '#/components/schemas/TimeOffPolicyType'
      required:
      - id
      - timeOffTypeId
      - name
      - effectiveDate
      - type

    TimeOffPolicies:
      xml:
        name: timeOffPolicies
        wrapped: true
      type: array
      items:
        $ref: '#/components/schemas/TimeOffPolicy'

    TimeOffRequestStatus:
      type: string
      enum:
      - approved
      - canceled
      - declined
      - denied
      - requested
      - superceded

    TimeOffRequestStatusLastChanged:
      xml:
        name: status
      type: object
      properties:
        lastChanged:
          xml:
            attribute: true
          type: string
          format: date
        lastChangedByUserId:
          xml:
            attribute: true
          type: string
          format: integer
        status:
          xml:
            attribute: true
          allOf:
          - $ref: '#/components/schemas/TimeOffRequestStatus'
      required:
      - lastChanged
      - lastChangedByUserId
      - status

    TimeOffRequest:
      xml:
        name: request
      type: object
      properties:
        id:
          type: string
          format: integer
        employeeId:
          type: string
          format: integer
        status:
          $ref: '#/components/schemas/TimeOffRequestStatusLastChanged'
        name:
          type: string
        start:
          type: string
          format: date
        end:
          type: string
          format: date
        created:
          type: string
          format: date
        type:
          $ref: '#/components/schemas/TimeOffTypeInfo'
        amount:
          $ref: '#/components/schemas/TimeOffAmount'
        actions:
          $ref: '#/components/schemas/TimeOffActions'
        dates:
          description: >-
            Maps ISO date string to number of time-off hours requested.
          type: object
          # https://github.com/OAI/OpenAPI-Specification/issues/687
          # patternProperties:
          #   '^[0-9]{4}-[0-2]{2}-[0-2]{2}$':
          #     type: string
          #     format: integer
          additionalProperties:
            type: string
            format: integer
        notes:
          # FIXME: This is an empty array when there are no notes
          # TODO: Uncomment once OpenAPI Generator or Autorest support anyOf
          # https://github.com/OpenAPITools/openapi-generator/issues/15
          # anyOf:
          # - $ref: '#/components/schemas/TimeOffNotes'
          # - type: array
          #   items:
          #     $ref: '#/components/schemas/TimeOffNotes'
          $ref: '#/components/schemas/TimeOffNotes'
      required:
      - id
      - employeeId
      - status
      - name
      - start
      - end
      - created
      - type
      - amount

    TimeOffRequests:
      xml:
        name: requests
        wrapped: true
      type: array
      items:
        $ref: '#/components/schemas/TimeOffRequest'

    AddTimeOffRequest:
      xml:
        name: request
      type: object
      properties:
        status:
          $ref: '#/components/schemas/TimeOffRequestStatus'
        start:
          type: string
          format: date
        end:
          type: string
          format: date
        timeOffTypeId:
          $ref: '#/components/schemas/TimeOffTypeId'
        amount:
          description: >-
            The number of days/hours to update the employee's balance by.
            The unit will be whatever the time off type is configured for.
          type: number
          format: decimal
          minimum: 0
          exclusiveMinimum: true
        notes:
          $ref: '#/components/schemas/TimeOffNotes'
        dates:
          description: >-
            The <dates></dates> section is optional. If you don't provide it
            then all of the time off for the request will be deducted on the
            first day of the request.


            If you do provide details for the dates, then the amount
            for the overall request is ignored and the total amount of
            time requested is simply the sum of the amounts for each day.


            Keys are ISO date strings, values are number of hours requested.
          type: object
          # https://github.com/OAI/OpenAPI-Specification/issues/687
          # patternProperties:
          #   '^[0-9]{4}-[0-2]{2}-[0-2]{2}$':
          #     type: string
          #     format: integer
          additionalProperties:
            type: string
            format: integer
        previousRequest:
          description: >-
            If you supply the "previousRequest" parameter with a valid "time
            off request ID" then the original request will be canceled and the
            new request will be marked as its successor. This allows you to
            change a request that has already been approved. A request can be
            changed any time before the start date of the time off. The new
            request must list the same employee ID as the original request.
          type: integer
          minimum: 1

    UpdateTimeOffRequestStatusRequest:
      xml:
        name: request
      type: object
      properties:
        status:
          $ref: '#/components/schemas/TimeOffRequestStatus'
        note:
          type: string
      required:
      - status

    AddTimeOffHistoryRequest:
      description: >-
        Base type for addHistoryEntryOrOverride operation.
        **Do not use this class directly, use a subclass!**


        Should be abstract, since request must be a subtype:

        - https://github.com/OpenAPITools/openapi-generator/issues/3962

        - https://github.com/Azure/autorest/issues/995
      xml:
        name: history
      type: object
      discriminator:
        propertyName: eventType
        mapping:
          used: AddTimeOffHistoryEntryRequest
          override: AddTimeOffHistoryOverrideRequest
      properties:
        date:
          description: >-
            By convention, the date of the history entry should be the first
            date of the time off range.
          type: string
          format: date
        eventType:
          type: string
        note:
          description: Note attached to the history entry.
          type: string
      required:
      - date
      - eventType

    AddTimeOffHistoryEntryRequest:
      allOf:
      - $ref: '#/components/schemas/AddTimeOffHistoryRequest'
      - type: object
        properties:
          timeOffRequestId:
            description: Time off request this history entry is linked to.
            type: integer
            minimum: 1
        required:
        - timeOffRequestId

    AddTimeOffHistoryOverrideRequest:
      allOf:
      - $ref: '#/components/schemas/AddTimeOffHistoryRequest'
      - type: object
        properties:
          timeOffTypeId:
            $ref: '#/components/schemas/TimeOffTypeId'
          amount:
            description: >-
              The number of days/hours of requested time off.
              The unit will be whatever the time off type is configured for.
            type: number
            format: decimal
            # Note: example amount in docs is -5

    AdjustTimeOffBalance:
      type: object
      properties:
        date:
          description: The date the adjustment should be added in history.
          type: string
          format: date
        timeOffTypeId:
          description: The ID of the time off type to add a balance adjustment for.
          allOf:
          - $ref: '#/components/schemas/TimeOffTypeId'
        amount:
          description: The number of hours/days to adjust the balance by.
          type: number
          format: decimal
        note:
          description: This is an optional note to show in history.
          type: string
          maximum: 255
      required:
      - date
      - timeOffTypeId
      - amount

    EmployeeTimeOffPolicy:
      type: object
      properties:
        timeOffPolicyId:
          type: integer
          minimum: 1
        timeOffTypeId:
          $ref: '#/components/schemas/TimeOffTypeId'
        accrualStartDate:
          description: >-
            Date on which this policy starts.  null removes the assignment.
          type: string
          format: date
          nullable: true
      required:
      - timeOffPolicyId
      - timeOffTypeId
      - accrualStartDate

    TimeOffEstimate:
      xml:
        name: estimate
      type: object
      properties:
        timeOffType:
          xml:
            attribute: true
          type: string
          format: integer
        name:
          xml:
            attribute: true
          type: string
        units:
          xml:
            attribute: true
          allOf:
          - $ref: '#/components/schemas/TimeOffUnit'
        balance:
          xml:
            attribute: true
          type: string
          format: decimal
          # Note: example in docs is -2.5 so negative is allowed
        policyType:
          xml:
            attribute: true
          allOf:
          - $ref: '#/components/schemas/TimeOffPolicyType'
        usedYearToDate:
          xml:
            attribute: true
          type: string
          format: decimal
        end:
          xml:
            attribute: true
          type: string
          format: date
      required:
      - timeOffType
      - name
      - units
      - balance
      - policyType
      - usedYearToDate
      - end

    TimeOffEstimates:
      xml:
        name: estimates
        wrapped: true
      type: array
      items:
        $ref: '#/components/schemas/TimeOffEstimate'

    WhoIsOutType:
      type: string
      enum:
      - holiday
      - timeOff

    WhoIsOutEntry:
      xml:
        name: item
      type: object
      properties:
        id:
          description: Time off request ID
          type: integer
          minimum: 1
        type:
          $ref: '#/components/schemas/WhoIsOutType'
        employeeId:
          type: integer
          minimum: 1
        name:
          description: >-
            Holiday name if type is "holiday".

            Employee name if type is "timeOff".
          type: string
        start:
          type: string
          format: date
        end:
          type: string
          format: date
      required:
      - id
      - type
      - employeeId
      - name
      - start
      - end

    WhoIsOutCalendar:
      xml:
        name: calendar
        wrapped: true
      type: array
      items:
        $ref: '#/components/schemas/WhoIsOutEntry'

    FieldMetadata:
      xml:
        name: field
      type: object
      properties:
        id:
          xml:
            attribute: true
          # FIXME: API returns a mix of string and integer in same response.
          # TODO: Uncomment once OpenAPI Generator or Autorest support anyOf
          # https://github.com/OpenAPITools/openapi-generator/issues/15
          # anyOf:
          # - type: integer
          #   minimum: 1
          # - type: string
          #   format: decimal
          type: string
          format: decimal
        name:
          type: string
        type:
          xml:
            attribute: true
          allOf:
          - $ref: '#/components/schemas/EmployeeFieldType'
        alias:
          xml:
            attribute: true
          allOf:
          - $ref: '#/components/schemas/EmployeeFieldName'
      required:
      - id
      - name
      - type

    FieldsMetadata:
      xml:
        name: fields
        wrapped: true
      type: array
      items:
        $ref: '#/components/schemas/FieldMetadata'

    ListOption:
      xml:
        name: option
      type: object
      properties:
        id:
          type: integer
          minimum: 1
        archived:
          xml:
            attribute: true
          allOf:
          - $ref: '#/components/schemas/YesNo'
        createdDate:
          type: string
          format: date-time
        archivedDate:
          type: string
          format: date-time
          nullable: true
        name:
          type: string
      required:
      - id
      - archived
      - createdDate
      - archivedDate
      - name

    ListOptions:
      xml:
        name: options
        wrapped: true
      type: array
      items:
        $ref: '#/components/schemas/ListOption'

    ListOptionUpdate:
      xml:
        name: options
      type: object
      properties:
        id:
          xml:
            attribute: true
          type: integer
          minimum: 1
        archived:
          xml:
            attribute: true
          allOf:
          - $ref: '#/components/schemas/YesNo'
        value:
          type: string
      required:
      - value

    ListOptionsUpdate:
      xml:
        name: options
      type: object
      properties:
        options:
          type: array
          items:
            $ref: '#/components/schemas/ListOptionUpdate'
      required:
      - options

    ListMetadata:
      xml:
        name: list
      type: object
      properties:
        fieldId:
          xml:
            attribute: true
          type: integer
          minimum: 1
        manageable:
          xml:
            attribute: true
          allOf:
          - $ref: '#/components/schemas/YesNo'
        multiple:
          xml:
            attribute: true
          allOf:
          - $ref: '#/components/schemas/YesNo'
        name:
          type: string
        options:
          $ref: '#/components/schemas/ListOptions'
        alias:
          xml:
            attribute: true
          allOf:
          - $ref: '#/components/schemas/EmployeeFieldName'

    ListsMetadata:
      xml:
        name: lists
        wrapped: true
      type: array
      items:
        $ref: '#/components/schemas/ListMetadata'

    TableAlias:
      type: string
      enum:
      - benefit_class
      - bonus
      - commission
      - compensation
      - contacts
      - customAssets
      - customDirectDepositInformation
      - customDriver'sLicenseInformation
      - dependents
      - earnings
      - emergencyContacts
      - employeeEducation
      - employeePassports
      - employeeVisas
      - employmentStatus
      - jobInfo

    TableMetadata:
      xml:
        name: table
      type: object
      properties:
        alias:
          $ref: '#/components/schemas/TableAlias'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldMetadata'
      required:
      - alias
      - fields

    TablesMetadata:
      xml:
        name: tables
        wrapped: true
      type: array
      items:
        $ref: '#/components/schemas/TableMetadata'

    UserStatus:
      type: string
      enum:
      - enabled

    User:
      xml:
        name: user
      type: object
      properties:
        id:
          type: integer
          minimum: 1
        employeeId:
          description: 0 if user is not linked to an employee
          type: integer
          minimum: 0
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        status:
          $ref: '#/components/schemas/UserStatus'
        lastLogin:
          type: string
          format: date-time
      required:
      - id
      - employeeId
      - firstName
      - lastName
      - email
      - status

    Users:
      xml:
        name: users
      type: object
      additionalProperties:
        $ref: '#/components/schemas/User'

    EmployeeChange:
      xml:
        name: employee
      type: object
      properties:
        id:
          type: string
          format: integer
        action:
          $ref: '#/components/schemas/ChangeType'
        lastChanged:
          type: string
          format: date-time
      required:
      - id
      - action
      - lastChanged

    ChangeList:
      xml:
        name: changeList
      type: object
      properties:
        latest:
          type: string
          format: date-time
        employees:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/EmployeeChange'
      required:
      - latest
      - employees

    LoginRequest:
      type: object
      properties:
        user:
          description: The user's email address.
          type: string
          format: email
        password:
          description: The user's password.
          type: string
          format: password
        applicationKey:
          description: The application key provided to you by BambooHR.
          type: string
        deviceId:
          description: >-
            An ID for the user's mobile device. This deviceId can be generated
            when the app is first installed on a device, and should be unique
            enough to prevent collisions between users within the same company.
          type: string
      required:
      - user
      - password
      - applicationKey

    AuthResponse:
      xml:
        name: auth
      type: object
      properties:
        success:
          type: boolean
        userId:
          type: integer
          minimum: 1
        employeeId:
          type: integer
          minimum: 1
        key:
          type: string
      required:
      - userId
      - key

    BenefitCoverageType:
      type: string
      enum:
      - Employee + Family

    BenefitGroupPlanEligibility:
      type: string
      enum:
      - hire_date
      - manual
      - month_after_waiting_period
      - waiting_period

    BenefitGroupPlanWaitPeriodType:
      type: string
      enum:
      - days
      - weeks
      - months
      - years

    BenefitPayType:
      type: string
      enum:
      - Currency
      - Percent

    BenefitTypeName:
      type: string
      enum:
      - dental
      - disability
      - flex
      - health
      - hsa
      - life
      - other
      - reimbursement
      - retirement
      - supplemental
      - variable
      - vision

    BenefitCoverage:
      type: object
      properties:
        id:
          type: string
          format: integer
          minimum: 1
          readOnly: true
        shortName:
          type: string
        description:
          type: string
          nullable: true
        sortOrder:
          type: string
          format: integer
          minimum: 1
        benefitPlanId:
          type: string
          nullable: true
          format: integer
          minimum: 1
      required:
      - id
      - shortName
      - description
      - sortOrder
      - benefitPlanId

    BenefitCoverages:
      type: object
      properties:
        Benefit Coverages:
          type: array
          items:
            $ref: '#/components/schemas/BenefitCoverage'
      required:
      - Benefit Coverages

    BenefitGroup:
      type: object
      properties:
        id:
          type: string
          format: integer
          minimum: 1
          readOnly: true
        name:
          type: string
        payPeriod:
          $ref: '#/components/schemas/PayGroupPayFrequency'
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
          nullable: true
        archived:
          type: boolean

    BenefitGroups:
      type: object
      properties:
        Benefit Groups:
          type: array
          items:
            $ref: '#/components/schemas/BenefitGroup'
      required:
      - Benefit Groups

    BenefitGroupEmployee:
      type: object
      properties:
        id:
          type: string
          format: integer
          minimum: 1
          readOnly: true
        benefitGroupId:
          type: string
          format: integer
          minimum: 1
        employeeId:
          type: string
          format: integer
          minimum: 1
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
          nullable: true
        archived:
          type: boolean
      required:
      - benefitGroupId
      - employeeId
      - startDate

    BenefitGroupEmployees:
      type: object
      properties:
        Benefit Group Employees:
          type: array
          items:
            $ref: '#/components/schemas/BenefitGroupEmployee'
      required:
      - Benefit Group Employees

    BenefitGroupPlan:
      type: object
      properties:
        id:
          type: string
          format: integer
          minimum: 1
          readOnly: true
        benefitGroupId:
          type: string
          format: integer
          minimum: 1
        benefitPlanId:
          type: string
          format: integer
          minimum: 1
        eligibility:
          $ref: '#/components/schemas/BenefitGroupPlanEligibility'
        waitPeriod:
          type: string
          format: integer
          minimum: 0
        waitPeriodType:
          $ref: '#/components/schemas/BenefitGroupPlanWaitPeriodType'
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
          nullable: true
        archived:
          type: boolean
      required:
      - benefitGroupId
      - benefitPlanId
      - startDate

    BenefitGroupPlans:
      type: object
      properties:
        Benefit Group Plans:
          type: array
          items:
            $ref: '#/components/schemas/BenefitGroupPlan'
      required:
      - Benefit Group Plans

    BenefitGroupPlanCost:
      type: object
      properties:
        id:
          type: string
          format: integer
          minimum: 1
          readOnly: true
        benefitGroupPlanId:
          type: string
          format: integer
          minimum: 1
        benefitPlanCoverageId:
          type: string
          format: integer
          minimum: 1
        employeeCost:
          type: string
          format: decimal
          minimum: 0
        companyCost:
          type: string
          format: decimal
          minimum: 0
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
          nullable: true
        archived:
          type: boolean
      required:
      - benefitGroupPlanId
      - benefitPlanCoverageId
      - startDate

    BenefitGroupPlanCosts:
      type: object
      properties:
        Benefit Group Plan Costs:
          type: array
          items:
            $ref: '#/components/schemas/BenefitGroupPlanCost'
      required:
      - Benefit Group Plan Costs

    BenefitPlanCoverage:
      type: object
      properties:
        id:
          type: string
          format: integer
          minimum: 1
          readOnly: true
        benefitPlanId:
          type: string
          format: integer
          minimum: 1
        benefitCoverageId:
          type: string
          format: integer
          minimum: 1
        totalCost:
          type: string
          format: decimal
          minimum: 0
        currencyType:
          $ref: '#/components/schemas/CurrencyCode'
        startYmd:
          type: string
          format: date
        endYmd:
          type: string
          format: date
        archived:
          type: boolean

    BenefitPlanCoverages:
      type: object
      properties:
        Benefit Plans Coverages:
          type: array
          items:
            $ref: '#/components/schemas/BenefitPlanCoverage'
      required:
      - Benefit Plans Coverages

    BenefitPlan:
      type: object
      properties:
        id:
          type: string
          format: integer
          minimum: 1
        name:
          type: string
        type:
[...]
